# Simple exercises for Basic Data Types in Python

## Numbers

#### 1. asign any number of type integer to the variable "num_1"

In [6]:
num_1 = 4

#### 2. asign any number of type float to the variable "num_2"

In [8]:
num_2 = 2.8

#### 3. create variable "total" which is the sum of variables "num_1" and "num_2"

In [10]:
total = num_1 + num_2

#### 4. check the type of variable "total"

In [12]:
type(total)

float

#### 5. assign variable "height" with your height

In [13]:
height=5.11

#### 6. asign variable "mass" with your weight

In [17]:
mass = 190

#### 7. create variable "bmi" :
hint: bmi = weight / (height*height)

In [20]:
bmi = mass/(height**2)

#### 8. print value from "bmi" variable

In [22]:
bmi

7.276320173406198

# String

#### 1. Create variable "name" with your first name

In [24]:
name = "David"

#### 2. Create variable "surname" with your surname

In [25]:
surname = "Dwave"

#### 3. create variable "name_surname" from variables "name" and "surname" 
hint : use string with white space between variable "name" and "surname"

In [26]:
name_surname = name + " " + surname

#### 4. print variable "name_surname"

In [27]:
name_surname

'David Dwave'

#### 5. print first letter from variable "name_surname"

In [28]:
name_surname[0]

'D'

#### 6. print your name (without enmpty space) from variable "name_surname"

In [31]:
name_surname.replace(" ","")

'DavidDwave'

#### 7. print your surname 10x (use variable surname)

In [32]:
surname = surname * 10

In [33]:
surname

'DwaveDwaveDwaveDwaveDwaveDwaveDwaveDwaveDwaveDwave'

#### 8. create variable greeting with message "Hello my name is " and your name and surname (use "name_surname" variable)

In [37]:
greeting = "Hello my name is " + name_surname

#### 9. print "message" variable

In [38]:
greeting

'Hello my name is David Dwave'

## List

#### 1. create empty list with name "empty_list"

In [ ]:
empty_list = []

#### 2. create list "heights" with five random values

In [39]:
heights = [13.6,5.5,7.2,2.2,4.4]

#### 3. print heights

In [40]:
heights

[13.6, 5.5, 7.2, 2.2, 4.4]

#### 4. print type of variable "heights"

In [41]:
type(heights)

list

#### 5. print second value from "heights"

In [42]:
heights[1]

5.5

#### 6. assign last three values from "heights" to another list "heights_2"

In [49]:
heights2 = heights[2:5]

#### 7. print "heights_2"

In [50]:
heights2

[7.2, 5.5, 6.6]

#### 8. create variable "list_all" with values from lists "heights" and "heights_2" together

In [51]:
list_all = heights+heights2

#### 9. print "list_all"

In [52]:
list_all

[13.6, 5.5, 7.2, 5.5, 6.6, 7.7, 7.2, 5.5, 6.6]

#### 10. print the type of "list_all"

In [53]:
type(list_all)

list

## Tuple

#### 1. create empty tuple with name empty_tuple

In [54]:
empty_tuple = ()

#### 2. try to asign your name on the first position to the variable "empty_tuple" and check the type of the error

In [56]:
empty_tuple(0) = "David"

SyntaxError: can't assign to function call (<ipython-input-56-96bacf453841>, line 1)

#### 3. According to question number 2, what is the main difference between list and tuple?

#####              Answer: Can't assign a value to a tuple

## Dictionary

#### 1. create empty dictionary with name "empty_dict"

In [63]:
empty_dict = {}

#### 2. create "heights_dict" dictionary with your name as a key and height as a value

In [65]:
heights_dict = {"David":5.2}

#### 3. asign another name and height to "heights_dict"

In [67]:
heights_dict["Vincent"] = 2.2

#### 4. print "heights_dict" dictionary

In [68]:
heights_dict

{'David': 5.2, 'Vincent': 2.2}

#### 5. print your height from the "heights_dict" dictionary

In [69]:
heights_dict.get("David")

5.2

#### 6. print all values from "heights_dict" dictionary

In [82]:
list(heights_dict.values())

[5.2, 2.2]

#### 7. print all keys from "heights_dict" dictionary

In [83]:
list(heights_dict.keys())

['David', 'Vincent']